<html lang="en" style="">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>
            Welcome to Airdrumist
        </title>
    </head>
    <link href="/css/jquery-ui-1.10.2.custom.min.css" rel="stylesheet" type="text/css">
    <link href="/css/united-bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-style">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script>
        window.suppressVideo = false;
        window.app = window.app || {};
        window.app.areas = [0, 1, 2];
        window.app.showOverLay = false;
        window.app.soundFileTransform = function(x) { return x; }
    </script>
    
    <body style="zoom: 1;">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </a>
                    <a class="brand" href="../">Codemakers Team Dave</a>
                    <div class="nav-collapse collapse" id="main-menu">
                        <ul class="nav" id="main-menu-left">
                            <li>
                                <a href="https://github.com/codemkrs-team-name/codemkrs-challenge">On Github</a>
                            </li>
                        </ul>
                        <ul class="nav pull-right" id="main-menu-right">
                            <li>
                                <a rel="tooltip" target="_blank" href="http://codemkrs.com/" title="Built at Codemkrs">Codemkrs <i class="icon-share-alt"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>
                Head-Bobble Airdrumist
            </h1>
            <div class="row-fluid text-center">
                <div class="video-container">
                    <div class='video'>
                        <video style="display:none;" id="js-video" width="320" height="240">
                        </video>
                        <canvas style="display:none;" id="js-snapshot" class="css-snapshot" width="320"
                        height="240">
                        </canvas>
                    </div>
                    <div class="area-marker area1"></div>
                    <div class="area-marker area2"></div>
                    <div class="area-marker area3"></div>

                    <div class="visualEffect crunch" style="display: none">
                    </div>
                    <div class="visualEffect kapow" style="display: none">
                    </div>
                    <div class="visualEffect sock" style="display: none">
                    </div>
                    <div class="visualEffect thwack" style="display: none">
                    </div>
                    <div class="visualEffect zap" style="display: none">
                    </div>
                    <div class="visualEffect zlonk" style="display: none">
                    </div>
                </div>
            </div>
            <div class="row-fluid text-center">
                <button style="display:none;" type="button" class="js-toggle-video btn btn-inverse btn-small">
                    Toggle Video Feed
                </button>
                <button type="button" class="js-allow-video btn btn-primary btn-large">
                    Get Video Feed
                </button>
            </div>
            <div class="row-fluid">
                <div class="span8">
                    <h3>
                        Wha?
                    </h3>
                    <p>
                      This is a simple webapp. It plays around with Html5 motion capture and audio apis to create a cool virtual sort-of drum-kit.
                      We worked on it all night and think it's pretty cool. You should play around with it and let us know what you think.
                    <p> 
                    <h3>
                        Why?
                    </h3>
                    <p>

                        This app was made over a sleepless twenty four hours as a part of the
                        <a href="http://codemkrs.com/">Codemkrs Music Hackathon 2013</a>
                        . This was not our initial app. Our initial app is less showy and more
                        useful - an application for tourists and residents to explore the deep
                        musical history of New Orleans. This was the idea of music author Dave
                        Walkder and we loved it. After considering our requirements and before
                        booting up our nodes and rubies
                        <a href="http://suscosolutions.com/team_members.html">Neel Sus</a>
                        insisted we try an app-maker. We did, and after a few hours on
                        <a href="http://www.shoutem.com/">ShoutEm</a>
                        our app was
                        <a href="#">basically done</a>
                         Chagrin! What to do? Something fun and hacky of course. We did this.
                    </p>
                    <h3>
                        Who?
                    </h3>
                    <p>

                        This is our team.
                    </p>
                        <ul>
                                <li>
                                    <h4>
                                        George Mauer
                                    </h4>
                                    <p>
                                        Is a senior developer at
                                        <a href="http://surgeforward.com">Surge Consulting</a>
                                        , owner of Humble Pi llc and frequently says no to features and ideas. You can stalk him on twitter <a href='http://twitter.com/togokangaroo'>@togokangaroo</a>

                                    </p>
                                </li>
                                <li>
                                    <h4>
                                        Justen Martin
                                    </h4>
                                    <p>
                                        Justen also works at Surge. George tells him he is a senior developer, but he isn't buying that. You can stalk him on twitter <a href='http://twitter.com/Jzmartin84'>@Jzmartin84</a>
                                    </p>
                                </li>
                                <li>
                                    <h4>
                                        Will Johnson
                                    </h4>
                                    <p>
                                        Will is a student of Uno. Will he fill this in? Who knows!
                                    </p>
                                </li>
                                <li>
                                    <h4>
                                        Scott Hedrick
                                    </h4>
                                    <p>
                                        Scott's not here right now. But he was. Will he be again?
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Special thanks to <a href='http://blog.coolaj86.com/'>coolaj86</a> for the great blog that we used as a launching point for this project. Dave Walker, Julie Green, and Neel Sus for help with
                                        the original application. A big thank you to everyone at Codemkrs.
                                    </p>
                                </li>
                </div>
            </div>
        </div>
        <footer>
            <div class="pull-right">
                <button class="btn theme-switcher">
                    BG
                </button>
            </div>
        </footer>
        <div id='runtime-controls'>
            <h4>Runtime Controls</h4>
            <ul>
            <li>
                <div class='control' data-slidervar="samplingSize" data-min="500" data-max="2000" data-step="100" data-value="800">
                </div>
                <div class='label'> Sampling Size </div>
            </li>
            <li>
                <div class='control' data-slidervar="movingDownThreshold" data-min="1" data-max="1.4" data-step="0.02" data-value="1">
                </div>
                <div class='label'> Moving Down Threshold </div>
            </li>
            <li>
                <div class='control' data-slidervar="resultsToKeep" data-min="5" data-max="40" data-value="15">
                </div>
                <div class='label'> Result Set Size </div>
            </li>
            <li>
                <div class='control' data-slidervar="movingDownRateThreshold" data-min="0" data-max=".95" data-value=".4" data-step=".1">
                </div>
                <div class='label'> Moving Down Rate Threshold </div>
            </li>
            <li><label>
                <input type="checkbox" id="show-areas" class="control">
                <span class="label">Show Areas</span>
            </label></li>
            <li><label>
                <input type="checkbox" id="lefthanded" class="control">
                <span class="label">Lefthanded</span>
            </label></li>
        </ul>
        </div>
        <script src="http://code.jquery.com/jquery-2.0.0.js">
                         
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js">
                        
        </script>
        <script type="text/javascript" src="/js/tracking.js">
                         
        </script>
        <script type="text/javascript" src="/js/sounds.js">
                         
        </script>
        <script src="/js/imageRandomizer.js">
                       
        </script>
        <script type="text/javascript" src="/js/jquery-ui-slider.js">
        </script>
        <script>
            window.enterArea.add(function(x) {
            });
            window.suppressVideo && $(function() {
                _.delay(stubEnterEventInABit, 500);

                function stubEnterEventInABit() {
                    window.enterArea.fire({
                        message: window.app.areas[_.random(0, window.app.areas.length - 1)],
                        time: new Date()
                    });
                    _.delay(stubEnterEventInABit, _.random(200, 1500));
                }
            })
        </script>
        <script>
            $(function() {
                $('.theme-switcher').click(function switchStyle() {
                    var style = $('#bootstrap-style')[0],
                        href = style.href;
                        style.href = ~style.href.indexOf('/united-') ? style.href.replace('/united-', '/geo-') : style.href.replace('/geo-', '/united-')
                });


                $('[data-slidervar]').each(function(i, slider) {
                    slider = $(this)
                    var vars = slider.data();
                    var op = {
                        min: vars.min&&parseFloat(vars.min, 10),
                        max: vars.max&&parseFloat(vars.max, 10),
                        step: vars.step&&parseFloat(vars.step, 10),
                        value: parseFloat(vars.value, 10),
                        orientation: 'vertical',
                        slide: function(event, ui) {
                            window.app[vars.slidervar] = ui.value;
                            console.log("current app is", window.app);
                        }
                    };
                    op.slide(null, {value: op.value});
                    slider.slider(op);
                }).trigger('slideslide');

                $('#show-areas').on('change', function(){
                    $('.area-marker').toggle($(this).prop('checked'));
                }).trigger('change');

                $('#lefthanded').on('change', function(){
                    window.soundFileTransform = $(this).prop('checked') ? _.identity : function(x) { return 2-x };
                }).trigger('change');
            })

        </script>
    </body>

</html>
