/*
 * Stylesheet for whatever the fuck we're calling this
 */
.visualEffect {
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
  background-repeat: no-repeat;
  position: absolute; }

.visualEffect.crunch {
  background-image: url("../img/crunch.png"); }

.visualEffect.kapow {
  background-image: url("../img/kapow.png"); }

.visualEffect.sock {
  background-image: url("../img/sock.png"); }

.visualEffect.thwack {
  background-image: url("../img/thwack.png"); }

.visualEffect.zap {
  background-image: url("../img/zap.png"); }

.visualEffect.zlonk {
  background-image: url("../img/zlonk.png"); }

canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); }

.video {
  width: 320px;
  height: 240px;
  border: 1px solid grey; }

.video-container {
  border: 1px solid grey;
  padding: 50px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-bottom: 2em; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }

.ui-widget-header {
  font-weight: bold;
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #666; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(white, white 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, white, white 25%, #e6e6e6);
  background-image: -ms-linear-gradient(white, white 25%, #e6e6e6);
  background-image: -o-linear-gradient(white, white 25%, #e6e6e6);
  background-image: linear-gradient(white, white 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  /*font-size: 13px;*/
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear background-image;
  -moz-transition: 0.1s linear background-image;
  -ms-transition: 0.1s linear background-image;
  -o-transition: 0.1s linear background-image;
  transition: 0.1s linear background-image;
  overflow: visible; }

#runtime-controls {
  position: fixed;
  bottom: 0;
  margin: 0 auto 0 auto;
  background-color: aliceblue;
  border-radius: 10px 10px 0 0;
  padding: 1em;
  border: 1px solid grey;
  max-height: 1em;
  opacity: .5; }
  #runtime-controls:hover {
    max-height: 100%;
    transition-duration: 1000;
    opacity: 1; }
  #runtime-controls li {
    display: inline-block; }
  #runtime-controls .slider {
    margin: 0 auto 1em auto; }
  #runtime-controls .label {
    padding: .2em; }
