/*
 * Stylesheet for whatever the fuck we're calling this
 */
.visualEffects.crunch {
  width: 32px;
  height: 32px; }

.visualEffects.kapow {
  width: 32px;
  height: 32px; }

.visualEffects.sock {
  width: 32px;
  height: 32px; }

.visualEffects.thwack {
  width: 32px;
  height: 32px; }

.visualEffects.zap {
  width: 32px;
  height: 32px; }

.visualEffects.zlonk {
  width: 32px;
  height: 32px; }
