/*
 * Stylesheet for whatever the fuck we're calling this
 */

.crunch {
	
}

.kapow {
	
}

.sock {
	
}

.thwack {
	
}

.thwack {

}

.zap {
	
}

.zlonk {
	
}

.container {
	margin: {
		top: 200px;
		left:45%;
	}
}
